*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
img, video{
    max-width: 100%;
}
.container{
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
}
.button{
    display: inline-block;
    background-color: hsl( 190 , 64%, 22%);
    color: #fff;
    padding: 1rem 2rem;
    font-weight: 700;
    font-family: "lato", sans-serif;
    cursor: pointer;
}
.button:hover{
    background-color: hsl(190, 64%, 15%);
}
.grid{
    display: grid;
    gap: 1.5rem;
}
.section{
    padding: 7rem 0 2rem;
}
.mian{
    background-color: hsl(190, 29%, 12%);
}
